.widget-alarm-commander {
  background: var(--widget-bg);
}

.widget-alarm-commander .widget-title {
  font-size: clamp(12px, 5cqw, 20px);
  font-weight: 800;
}

.widget-alarm-commander .widget-value {
  font-size: min(30cqi, 46cqb);
  font-weight: 800;
}

.alarm-value-commander {
  color: #d94d14;
}
